# **1. Introduction**
Kita akan belajar membuat sistem rekomendasi menggunakan Python. Data yang kita gunakan adalah database film dari imdb lengkap beserta metadatanya.

# **Latar Belakang**
Terdapat 2 dasar tipe sistem rekomendasi:

1. Sistem Rekomendasi Sederhana
2. Sistem Rekomendasi Berdasarkan Konten dari Fiturnya
 
**Sistem Rekomendasi Sederhana**, seperti namanya adalah sistem rekomendasi yang hanya menggunakan **urutan sebagai dasar perhitungannya**, dimana biasanya digunakan dalam kasus '**5 film terbaik**', lalu kita akan menggunakan urutan berdasarkan vote terbanyak, rating tertinggi, penjualan film paling tinggi, ataupun yang lain.

Dalam kasus ini, kita akan menggunakan kombinasi antara rata-rata rating, jumlah vote, dan membentuk metric baru dari metric yang sudah ada, kemudian melakukan sorting untuk metric tadi dari yang tertinggi ke terendah.

# **Simple Recommender Engine using Weighted Average**
*Simple Recommender Engine* menawarkan rekomendasi yang umum untuk semua user berdasarkan popularitas film dan genre.

Ide awal di balik sistem rekomendasi ini adalah sebagai berikut.
* Film-film yang lebih populer akan memiliki kemungkinan yang lebih besar untuk disukai juga oleh rata-rata penonton.
* Model ini tidak memberikan rekomendasi yang personal untuk setiap tipe user. 
* Implementasi model ini pun juga bisa dibilang cukup mudah, yang perlu kita lakukan hanyalah mengurutkan film-film tersebut berdasarkan rating dan popularitas serta menunjukkan film teratas dari list film tersebut.

Sebagai tambahan, kita dapat menambahkan genre untuk mendapatkan film teratas pada suatu genre film tertentu.

# **Formula dari IMDB dengan Weighted Rating**

![imdb.png]()

dimana:
* v: jumlah votes untuk film tersebut
* m: jumlah minimum votes yang dibutuhkan supaya dapat masuk dalam chart
* R: rata-rata rating dari film tersebut
* C: rata-rata jumlah votes dari seluruh semesta film

# **2. Task 1 - Library Import and File Unloading**
Hal pertama yang harus dilakukan adalah melakukan import library dan membaca dataset yang akan digunakan dalam project ini.

# **Import Library dan File Unloading**
Langkah pertama yang harus kita lakukan adalah melakukan import library yang dibutuhkan untuk pengerjaan project ini dan melakukan pembacaan dataset.

**Notes:**

* Library yang akan kita gunakan adalah `pandas as pd` dan `numpy as np`
* Dataset yang akan digunakan adalah **title.basics.tsv** dan **title.ratings.tsv**

**Akses dataset:**

* **title.basic.tsv** = https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/title.basics.tsv
* **title.ratings.tsv** = https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/title.ratings.tsv

In [50]:
import pandas as pd
import numpy as np

#lakukan pembacaan dataset
movie_df = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/title.basics.tsv', sep='\t') #untuk menyimpan title_basics.tsv
rating_df = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/title.ratings.tsv', sep='\t') #untuk menyimpan title.ratings.tsv

# **3. Task 2 - Cleaning table movie**
Sebelum mengolah data lebih lanjut untuk membuat sistem rekomendasi, kita harus melakukan *cleaning* pada data terlebih dahulu.

# **5 Data teratas dari table movie**
Hal pertama yang akan kita lakukan adalah menampilkan 5 data teratas yang ada pada table movie (**`movie_df`**).

In [51]:
print(movie_df.head())

      tconst  titleType  ... runtimeMinutes             genres
0  tt0221078      short  ...             \N  Documentary,Short
1  tt8862466  tvEpisode  ...             \N       Comedy,Drama
2  tt7157720  tvEpisode  ...             29   Comedy,Game-Show
3  tt2974998  tvEpisode  ...             \N               News
4  tt2903620  tvEpisode  ...             \N        Documentary

[5 rows x 9 columns]

# **Tipe Data dari Setiap Kolom**
Setelah berhasil menampilkan 5 data teratas yang ada pada table movie (`movie_df`), selanjutnya kita melakukan pengecekan tipe data dari masing-masing kolom yang ada pada table movie (`movie_df`) tersebut.

In [52]:
print(movie_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9025 entries, 0 to 9024
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          9025 non-null   object
 1   titleType       9025 non-null   object
 2   primaryTitle    9011 non-null   object
 3   originalTitle   9011 non-null   object
 4   isAdult         9025 non-null   int64
 5   startYear       9025 non-null   object
 6   endYear         9025 non-null   object
 7   runtimeMinutes  9025 non-null   object
 8   genres          9014 non-null   object
dtypes: int64(1), object(8)
memory usage: 634.7+ KB
None

# **Pengecekan Data dengan Nilai NULL**
Merupakan suatu hal yang wajib untuk melakukan pengecekan terhadap nilai NULL yang ada di dalam dataset saat melakukan cleaning.

Oleh karena itu, kita harus melakukan pengecekan apakah ada data bernilai NULL pada masing-masing kolom yang ada pada table movie (`movie_df`).

In [53]:
print(movie_df.isnull().sum())

tconst             0
titleType          0
primaryTitle      14
originalTitle     14
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            11
dtype: int64

# **Analisis Kolom dengan data bernilai NULL - part 1**
Dari hasil pengecekan nilai NULL yang sudah dilakukan sebelumnya, diketahui bahwa kolom '`primaryTitle`' dan '`originalTitle`' memiliki banyak data yang bernilai **NULL**.

Hal selanjutnya yang akan kita lakukan adalah melakukan pengecekan terhadap bentuk data dari kolom `primaryTitle` dan `originalTitle` yang bernilai NULL.

In [54]:
print(movie_df.loc[(movie_df['primaryTitle'].isnull()) | (movie_df['originalTitle'].isnull())])

          tconst  titleType  ... runtimeMinutes                genres
9000  tt10790040  tvEpisode  ...             \N                    \N
9001  tt10891902  tvEpisode  ...             \N                 Crime
9002  tt11737860  tvEpisode  ...             \N  Comedy,Drama,Romance
9003  tt11737862  tvEpisode  ...             \N  Comedy,Drama,Romance
9004  tt11737866  tvEpisode  ...             \N  Comedy,Drama,Romance
9005  tt11737872  tvEpisode  ...             \N                    \N
9006  tt11737874  tvEpisode  ...             \N  Comedy,Drama,Romance
9007   tt1971246  tvEpisode  ...             \N             Biography
9008   tt2067043  tvEpisode  ...             \N                 Music
9009   tt4404732  tvEpisode  ...             \N                Comedy
9010   tt5773048  tvEpisode  ...             \N             Talk-Show
9011   tt8473688  tvEpisode  ...             \N                 Drama
9012   tt8541336  tvEpisode  ...             \N    Reality-TV,Romance
9013   tt9824302  tvEpisode  ...             \N           Documentary

[14 rows x 9 columns]

# **Membuang Data dengan Nilai NULL - part 1**
Setelah melihat hasil sebelumnya, dapat dilihat bahwa semua data tidak memiliki judul dan kita dapat membuang data-data tersebut. Kemudian kita membuang data dengan nilai NULL tersebut dan melihat jumlah data yang ada setelah data-data bernilai NULL tersebut dibuang.

In [55]:
# mengupdate movie_df dengan membuang data-data bernilai NULL
movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]
# menampilkan jumlah data setelah data dengan nilai NULL dibuang
print(len(movie_df))

9011

# **Analisis Kolom dengan data bernilai NULL - part 2**
Selain kolom '`primaryTitle`' dan '`originalTitle`',masih terdapat kolom lain yang memiliki data bernilai **NULL**. Kolom tersebut adalah kolom '`genres`'

Selanjutnya, kita akan melakukan hal yang sama seperti yang sudah kita lakukan pada kolom '`primaryTitle`' dan '`originalTitle`', yakni melakukan pengecekan terhadap bentuk data dari kolom `genres` yang bernilai **NULL**.

In [56]:
print(movie_df.loc[movie_df['genres'].isnull()])

          tconst  titleType  ...          runtimeMinutes genres
9014  tt10233364  tvEpisode  ...              Reality-TV    NaN
9015  tt10925142  tvEpisode  ...               Talk-Show    NaN
9016  tt10970874  tvEpisode  ...                      \N    NaN
9017  tt11670006  tvEpisode  ...             Documentary    NaN
9018  tt11868642  tvEpisode  ...               Talk-Show    NaN
9019   tt2347742  tvEpisode  ...                      \N    NaN
9020   tt3984412  tvEpisode  ...              Reality-TV    NaN
9021   tt8740950  tvEpisode  ...              Reality-TV    NaN
9022   tt9822816  tvEpisode  ...                      \N    NaN
9023   tt9900062  tvEpisode  ...  Animation,Comedy,Drama    NaN
9024   tt9909210  tvEpisode  ...                      \N    NaN

[11 rows x 9 columns]

# **Membuang Data dengan Nilai NULL - part 2**
Setelah melihat hasil sebelumnya, dapat dilihat bahwa semua data tidak memiliki judul dan kita dapat membuang data-data tersebut. Pekerjaan selanjutnya yang akan kita lakukan adalah membuang data dengan nilai NULL tersebut dan melihat jumlah data yang tersisa.

In [57]:
# mengupdate movie_df dengan membuang data-data bernilai NULL
movie_df = movie_df.loc[movie_df['genres'].notnull()]
# menampilkan jumlah data setelah data dengan nilai NULL dibuang
print(len(movie_df))

9000

# **Mengubah Nilai '\\N'**
Jika kita perhatikan pada kolom '`startYear`' , '`endYear`', dan '`runtimeMinutes`', terdapat data dengan nilai '`\\N`'

'`\\N`' berarti **NULL**.

Hal selanjutnya yang akan kita lakukan adalah mengubah nilai dari `\\\N` tersebur menjadi `np.nan` dan melakukan casting kolom `startYear`, `endYear`, dan `runtimeMinutes` menjadi `float64`.

In [58]:
# mengubah nilai '\\N' pada startYear menjadi np.nan dan cast kolomnya menjadi float64
movie_df['startYear'] = movie_df['startYear'].replace('\\N', np.nan)
movie_df['startYear'] = movie_df['startYear'].astype('float64')
print(movie_df['startYear'].unique()[:5])

# mengubah nilai '\\N' pada endYear menjadi np.nan dan cast kolomnya menjadi float64
movie_df['endYear'] = movie_df['endYear'].replace('\\N', np.nan)
movie_df['endYear'] = movie_df['endYear'].astype('float64')
print(movie_df['endYear'].unique()[:5])

# mengubah nilai '\\N' pada runtimeMinutes menjadi np.nan dan cast kolomnya menjadi float64
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N', np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype('float64')
print(movie_df['runtimeMinutes'].unique()[:5])

[1898. 2018. 2016. 1987. 1973.]
[  nan 2005. 1955. 2006. 1999.]
[nan 29.  7. 23. 85.]

# **Mengubah Nilai genres Menjadi List**
Selanjutnya, kita akan membuat sebuah function yang bernama `transform_to_list `untuk mengubah nilai genre menjadi list.

In [59]:
def transform_to_list(x):
    if ',' in x: 
    #ubah menjadi list apabila ada data pada kolom genre
        return x.split(',')
    else: 
    #jika tidak ada data, ubah menjadi list kosong
        return []

movie_df['genres'] = movie_df['genres'].apply(lambda x: transform_to_list(x))

# **Task 3 - Cleaning Table Ratings**
Sama seperti yang sudah kita lakukan sebelumnya pada table movie, sekarang kita akan melakukan cleaning pada table ratings.

# **Menampilkan 5 data teratas**
Seperti yang sudah kita lakukan pada table movie (`movie_df`) sebelumnya, sekarang kita akan menampilkan 5 data teratas dari table ratings (`rating_df`)

In [60]:
print(rating_df.head())

      tconst  averageRating  numVotes
0  tt0000001            5.6      1608
1  tt0000002            6.0       197
2  tt0000003            6.5      1285
3  tt0000004            6.1       121
4  tt0000005            6.1      2050

# **Menampilkan tipe data**
Selanjutnya, kita akan menampilkan tipe data dari masing-masing kolom yang ada pada table rating (`rating_df`)

In [61]:
print(rating_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030009 entries, 0 to 1030008
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1030009 non-null  object
 1   averageRating  1030009 non-null  float64
 2   numVotes       1030009 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ MB
None

# **Task 4 - Joining table movie and table ratings**
Perlu untuk dilakukan join pada table movie dan rating untuk mendapatkan rating dari tiap film yang ada pada table movie.

# **Inner Join table movie dan table rating**
Mari kita melakukan **inner join** antara `rating_df` dan `movie_df` untuk mendapatkan rating pada setiap film yang tersedia, lalu tampilkan 5 data teratas dan tipe data dari tiap kolom yang ada.

In [62]:
# melakukan join pada kedua dataframe
movie_rating_df = pd.merge(movie_df, rating_df, on='tconst', how='inner')

# menampilkan 5 data teratas
print(movie_rating_df.head())

# menampilkan tipe data dari tiap kolom
print(movie_rating_df.info())

      tconst  titleType  ... averageRating numVotes
0  tt0043745      short  ...           7.1      459
1  tt0167491      video  ...           5.7        7
2  tt6574096  tvEpisode  ...           8.5      240
3  tt6941700  tvEpisode  ...           8.0       11
4  tt7305674      video  ...           9.7        7

[5 rows x 11 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1376 entries, 0 to 1375
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          1376 non-null   object
 1   titleType       1376 non-null   object
 2   primaryTitle    1376 non-null   object
 3   originalTitle   1376 non-null   object
 4   isAdult         1376 non-null   int64
 5   startYear       1376 non-null   float64
 6   endYear         26 non-null     float64
 7   runtimeMinutes  1004 non-null   float64
 8   genres          1376 non-null   object
 9   averageRating   1376 non-null   float64
 10  numVotes        1376 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 129.0+ KB
None

# **Memperkecil ukuran Table**
Hal selanjutnya yang akan kita lakukan adalah memperkecil ukuran table dengan **menghilangkan semua nilai NULL** dari kolom `startYear` dan `runtimeMinutes` karena tidak masuk akal jikalau film tersebut tidak diketahui kapan tahun rilis dan durasi nya.

In [63]:
movie_rating_df = movie_rating_df.dropna(subset=['startYear','runtimeMinutes'])
# Untuk memastikan tidak ada lagi nilai NULL
print(movie_rating_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1004 entries, 0 to 1374
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          1004 non-null   object
 1   titleType       1004 non-null   object
 2   primaryTitle    1004 non-null   object
 3   originalTitle   1004 non-null   object
 4   isAdult         1004 non-null   int64
 5   startYear       1004 non-null   float64
 6   endYear         17 non-null     float64
 7   runtimeMinutes  1004 non-null   float64
 8   genres          1004 non-null   object
 9   averageRating   1004 non-null   float64
 10  numVotes        1004 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 94.1+ KB
None

# **Task 5 - Building Simple Recommender System**
Kembali ke formula ***IMDB weighted average***, kita sudah memiliki value *v* dan *R.* Sekarang kita perlu mencari untuk value *C* dan *m*.

# **Pertanyaan 1: Berapa nilai C?**
Hal pertama yang akan kita cari adalah nilai dari *C* yang merupakan rata-rata dari `averageRating`

In [64]:
C = movie_rating_df['averageRating'].mean()
print(C)

6.829581673306767

# **Pertanyaan 2: Berapa nilai m?**

Mari kita ambil contoh film dengan `numVotes` di atas 80% populasi, jadi populasi yang akan kita ambil hanya sebesar 20%.

In [65]:
m = movie_rating_df['numVotes'].quantile(0.8)
print(m)

229.0

# **Pertanyaan 3: Bagaimana cara membuat fungsi weighted formula?**
Selanjutnya kita harus membuat sebuah fungsi dengan menggunakan dataframe sebagai variable.

In [66]:
def imdb_weighted_rating(df, var=0.8):
    v = df['numVotes']
    R = df['averageRating']
    C = df['averageRating'].mean()
    m = df['numVotes'].quantile(var)
    df['score'] = (v/(m+v))*R + (m/(m+v))*C # rumus IMDb 
    return df['score']
    
imdb_weighted_rating(movie_rating_df)

# melakukan pengecekan dataframe
print(movie_rating_df.head())

      tconst  titleType  ... numVotes     score
0  tt0043745      short  ...      459  7.009992
1  tt0167491      video  ...        7  6.796077
2  tt6574096  tvEpisode  ...      240  7.684380
5  tt2262289      movie  ...       27  6.921384
6  tt0874027  tvEpisode  ...        8  6.869089

[5 rows x 12 columns]

# **Pertanyaan 4: Bagaimana cara membuat simple recommender system?**
Dari task yang sudah kita lakukan sebelumnya, telah terdapat field tambahan 'score'.

Pertama kita akan filter `numVotes` yang lebih dari *m *kemudian diurutkan score dari tertinggi ke terendah untuk diambil nilai beberapa nilai teratas.

In [67]:
def simple_recommender(df, top=100):
    df = df.loc[df['numVotes'] >= m]
    df = df.sort_values(by='score',ascending=False) #urutkan dari nilai tertinggi ke terendah
    
    #Ambil data 100 teratas
    df = df[:top]
    return df
    
#Ambil data 25 teratas     
print(simple_recommender(movie_rating_df, top=25))

         tconst  titleType  ... numVotes     score
68    tt4110822  tvEpisode  ...     3820  9.254624
236   tt2200252      video  ...     1411  8.955045
1181  tt7697962  tvEpisode  ...     1536  8.892450
326   tt7124590  tvEpisode  ...     1859  8.850993
1045  tt0533506  tvEpisode  ...     2740  8.740308
71    tt8399426  tvEpisode  ...     1428  8.700045
1234  tt2843830  tvEpisode  ...     1753  8.660784
1087  tt4295140   tvSeries  ...    12056  8.566998
1054  tt2503932  tvEpisode  ...     2495  8.451165
448   tt0337566      video  ...     1343  8.256663
624   tt0620159  tvEpisode  ...      401  8.020118
1281  tt3166390  tvEpisode  ...      396  8.014679
314   tt0954759  tvEpisode  ...     2766  8.002863
189   tt5661506      video  ...      330  7.992798
151   tt3954426  tvEpisode  ...      437  7.991253
1344  tt6644294  tvEpisode  ...      812  7.976536
1242  tt3677742  tvSpecial  ...     1931  7.965312
1217  tt3642464  tvEpisode  ...      566  7.947641
544   tt0734655  tvEpisode  ...     1559  7.937290
49    tt9119838  tvEpisode  ...      263  7.936330
357   tt4084774  tvEpisode  ...      289  7.928908
1111  tt4174072  tvEpisode  ...     2898  7.914287
790   tt4279086  tvEpisode  ...      823  7.901687
972   tt0048028      movie  ...    38543  7.893678
819   tt0032156      movie  ...     2974  7.823470

[25 rows x 12 columns]

# **Pertanyaan 5: Bagaimana cara membuat simple recommender system dengan user preferences?**
Dari task yang sudah dilakukan sebelumnya, dapat dilihat sekarang daftar film telah diurutkan dari score tertinggi ke terendah.

Film dengan `averageRating` yang tinggi tidak selalu mendapat posisi yang lebih tinggi dibanding film dengan `averageRating` lebih rendah, hal ini disebabkan karena kita juga memperhitungkan faktor banyaknya votes.

Sistem rekomendasi ini masih bisa ditingkatkan dengan menambah filter spesifik tentang `titleType`, `startYear`, ataupun filter yang lain

Pekerjaan selanjutnya yang akan kita lakukan adalah membuat function untuk melakukan filter berdasarkan `isAdult`, `startYear`, dan `genres`.

In [68]:
df = movie_rating_df.copy()

def user_prefer_recommender(df, ask_adult, ask_start_year, ask_genre, top=100):
    #ask_adult = yes/no
    if ask_adult.lower() == 'yes':
        df = df.loc[df['isAdult'] == 1]
    elif ask_adult.lower() == 'no':
        df = df.loc[df['isAdult'] == 0]

    #ask_start_year = numeric
    df = df.loc[df['startYear'] >= int(ask_start_year)]

    #ask_genre = 'all' atau yang lain
    if ask_genre.lower() == 'all':
        df = df
    else:
        def filter_genre(x):
            if ask_genre.lower() in str(x).lower():
                return True
            else:
                return False
        df = df.loc[df['genres'].apply(lambda x: filter_genre(x))]

    df = df.loc[df['numVotes'] >= m] #Mengambil film dengan m yang lebih besar dibanding numVotes
    df = df.sort_values(by='score', ascending=False)
    
    #jika kamu hanya ingin mengambil 100 teratas
    df = df[:top]
    return df

print(user_prefer_recommender(df,
                       ask_adult = 'no',
                        ask_start_year = 2000,
                       ask_genre = 'drama'
                       ))

         tconst  titleType  ... numVotes     score
68    tt4110822  tvEpisode  ...     3820  9.254624
1181  tt7697962  tvEpisode  ...     1536  8.892450
326   tt7124590  tvEpisode  ...     1859  8.850993
71    tt8399426  tvEpisode  ...     1428  8.700045
1234  tt2843830  tvEpisode  ...     1753  8.660784
1054  tt2503932  tvEpisode  ...     2495  8.451165
1281  tt3166390  tvEpisode  ...      396  8.014679
151   tt3954426  tvEpisode  ...      437  7.991253
1344  tt6644294  tvEpisode  ...      812  7.976536
357   tt4084774  tvEpisode  ...      289  7.928908
708   tt2751234  tvEpisode  ...     1077  7.794774
605   tt9141176  tvEpisode  ...      674  7.777823
983   tt5063116  tvEpisode  ...      275  7.741020
1017  tt2206822  tvEpisode  ...      525  7.644528
73    tt0847785  tvEpisode  ...      405  7.641127
625   tt7348490  tvEpisode  ...      413  7.518184
1272  tt0534736  tvEpisode  ...      689  7.482870
800   tt0901201  tvEpisode  ...      654  7.474263
659   tt3909890  tvEpisode  ...      410  7.452229
1170  tt0647504  tvEpisode  ...      538  7.440123
1001  tt2129485  tvEpisode  ...      501  7.426951
977   tt4391820  tvEpisode  ...     1558  7.414087
1096  tt6822518      movie  ...     1541  7.413262
910   tt3348270  tvEpisode  ...      436  7.400262
746   tt0534765  tvEpisode  ...      620  7.392196
299   tt4527626  tvEpisode  ...      859  7.358892
509   tt1256301  tvEpisode  ...      501  7.358321
897   tt2349242  tvEpisode  ...      270  7.354658
1090  tt0212815      movie  ...     3906  7.273948
109   tt1753383      movie  ...    61521  7.198626
550   tt8163822      short  ...     2222  7.165391
834   tt6509862      movie  ...      960  7.047918
600   tt0329002      movie  ...      423  7.005022
642   tt0993186  tvEpisode  ...     4982  6.992511
691   tt3663996  tvEpisode  ...      309  6.927461
727   tt3563898   tvSeries  ...      733  6.807042
164   tt0464049      movie  ...    19858  6.800337
893   tt8858104      movie  ...     7935  6.703635
927   tt3663990  tvEpisode  ...      403  6.683187
462   tt5197828  tvEpisode  ...      641  6.586752
1068  tt8369852  tvEpisode  ...      563  6.453124
940   tt0396190      movie  ...     2342  6.438263
610   tt3526706      movie  ...     3890  6.329443
1126  tt2151739      movie  ...      258  6.284136
637   tt0857275      movie  ...     2288  6.166378
385   tt0472259      movie  ...     3738  6.047889
1014  tt1159705      movie  ...      355  5.899785
1043  tt5518756      movie  ...      387  5.742978
1154  tt1386492      movie  ...      642  5.186193
492   tt0882806      movie  ...      229  5.164791
922   tt2948790      movie  ...    11434  5.133960
690   tt4477536      movie  ...    50572  4.510501
677   tt8923408  tvEpisode  ...      592  4.500821
1039  tt5227468      movie  ...      374  4.330305
1138  tt1126516      movie  ...      527  4.020601
1208  tt3044882      movie  ...     1132  3.810708
1197  tt3016748      movie  ...     2065  3.742360
846   tt0488164      movie  ...     1620  3.474296
90    tt0299981    tvMovie  ...     8855  3.194020

[59 rows x 12 columns]